.start-btn, .next-btn, .finish-btn, button {
    padding: 12px 25px;
    font-size: 18px;
    background: #2ecc71;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover,
.next-btn:hover,
.finish-btn:hover {
    background: #27ae60;
}
