<!DOCTYPE html>
<html>
<head>
    <title>Smart Vehica</title>
    <link rel="stylesheet" href="/static/css/steps.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<h1>🚗 Smart Vehica Damage Detector</h1>

<div class="instructions">
    <h3>How to Use:</h3>
    <ul>
        <li>Step 1: Detect the car type</li>
        <li>Step 2: Detect damage severity using trained model</li>
        <li>Step 3: Detect damaged car parts using YOLO</li>
        <li>Step 4: Estimate repair cost based on severity and damaged parts</li>
    </ul>
</div>

<a href="/detect_car">
    <button class="start-btn">Start →</button>
</a>

</body>
</html>
